<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGyX73Jhg6_jYp1jWZs45YJIdHeKwUF8A</string>
	<key>GCM_SENDER_ID</key>
	<string>406907199256</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JGdev.exportontatcapp</string>
	<key>PROJECT_ID</key>
	<string>contacts-favor-list</string>
	<key>STORAGE_BUCKET</key>
	<string>contacts-favor-list.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406907199256:ios:b4bec56dd9221a3424486d</string>
</dict>
</plist>